.personalizacao{
    display: flex;
    flex-direction: column;
}

.cor-principal{
    padding-bottom: 16px;
}

.color-option {
  display: inline-flex;
  cursor: pointer;
}

.color-selection{
    display: flex;
    justify-content: space-between;
}

.colors{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 28px;
}

.colors input{
    display: none;
}

.color{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 4px solid var(--input-placeholder);
}

.color-option input:checked + .color {
    border: 3px solid var(--brand-light);
}

#title-personalizacao{
    padding-bottom: 24px;
}

#brand{
    background-color: var(--brand-light);
} 

#navy{
    background-color: #6A59FF;
}

#purple{
    background-color: #B259FF;
}

#fuschia{
    background-color: #FF59F9;
}

#pink{
    background-color: #FF598B;
}

#danger{
    background-color: var(--danger);
}

#orange{
    background-color: orange;
}

#yellow{
    background-color: #FFCD59;
}

#lime{
    background-color: #E1FF59;
}

#gren{
    background-color: greenyellow;
}

#cyan{
    background-color: cyan;
}

.items{
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: auto;
}

.display-none{
    display: none;
}

.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.item-selection{
    background-color: var(--shape-button);
    width: 134px;
    height: 103px;
    border-radius: 8px;
    padding: 4px 4px 8px 4px;
    box-sizing: border-box;
}

.item-selection input:checked + .card{
    outline: 3px solid var(--brand-light);
    outline-offset: 0;
    border-radius: 8px;
    padding-bottom: 15px;
}

.campo-2{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.linha{
    display:flex;
    gap:36px;
    padding-top: 28px;
}

.switch input{
    display:none;
}

.switch{
    position:relative;
    width:60px;
    height:34px;
}

.slider{
    position:absolute;
    inset:0;
    background:#333;
    border-radius:50px;
}

.slider::before{
    content:"";
    position:absolute;

    width:26px;
    height:26px;

    background:white;
    border-radius:50%;

    left:4px;
    top:4px;

    transition:.3s;
}

input:checked + .slider{
    background:#6f4cff;
}

input:checked + .slider::before{
    transform:translateX(26px);
}

.estilo{
    display:flex;
    align-items:center;
    gap:12px;
}

input[type="file"]{
    display: none;
}

.upload-group{
    display: flex;
    align-items: center;
    gap: 16px;
}

.upload{
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 12px 18px;

    background: #2d2d2d;
    border-radius: 8px;

    cursor: pointer;
}

.nome-arquivo{
    display: inline-block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

